# Database
DATABASE_URL="postgresql://username:password@localhost:5432/luxescents"
USE_SUPABASE=false
SUPABASE_DB="postgresql://username:password@db.elkpsuvzmjblvyyturql.supabase.co:5432/postgres"

# Server
PORT=3001
NODE_ENV=development

# CORS
FRONTEND_URL=http://localhost:3000

# Better Auth
BETTER_AUTH_SECRET="your-random-secret-key-min-32-chars"
BETTER_AUTH_URL=http://localhost:3001

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
